@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --pimary-background-color: #0d377d;
  --secondary-background-coloro: #ffffff;
  --pimary-font-color: #ffffff;
  --seconadary-font-color: #0d377d;
  --margin-header: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}

/* Estilos para el header  */

header {
  height: 15vh;
  width: 100%;
  background-color: var(--pimary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 100%;
  width: auto;
}

h1 {
  color: var(--pimary-font-color);
  font-size: 40px;
  font-weight: 300;
  font-family: "Parisienne", cursive;
}

#nav-list {
  display: flex;
  height: 35px;
  align-items: end;
  gap: var(--margin-header);
  margin-right: var(--margin-header);
}

li {
  list-style: none;
}

a {
  color: var(--pimary-font-color);
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

a:hover {
  color: gray;
  transition: 0.3s;
}

#menu {
  display: none;
  height: 40px;
  width: 40px;
  margin-right: var(--margin-header);
}

/* Estilos para el main  */

.section-head {
  margin: var(--margin-header);
  background-color: rgba(13, 54, 125, 0.5);
  border-radius: 10px;
}

h2 {
  color: var(--seconadary-font-color);
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}

.hotels,
.restaurants {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  row-gap: 25px;
  align-items: center;
  justify-items: center;
  place-content: center;
}

.hotel-article,
.restaurant-article {
  width: 250px;
  height: 275px;
  border: var(--pimary-background-color) solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  box-shadow: #0d377d 0px 3px 5px;
}

.hotel-article:hover,
.restaurant-article:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: gray 0px 3px 5px;
}

.hotel-article img,
.restaurant-article img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.hotel-article h3,
.restaurant-article h3 {
  color: var(--seconadary-font-color);
  font-size: 20px;
}

.hotel-article button,
.restaurant-article button {
  background-color: var(--pimary-background-color);
  color: var(--pimary-font-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.hotel-article button:hover,
.restaurant-article button:hover {
  color: gray;
  transition: 0.3s;
}

.btn-restaurant {
  display: flex;
  gap: 10px;
}

.btn-restaurant > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-restaurant > img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.contact-form {
  margin: var(--margin-header);
  padding-top: 5px;
  background-color: rgba(13, 54, 125, 0.5);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto 20px auto;
}

/* Estilos para el footer  */
footer {
  height: 10vh;
  width: 100%;
  background-color: var(--pimary-background-color);
  color: var(--pimary-font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  position: relative;
  gap: 10px;
}
footer p {
  margin: 0;
  font-size: 14px;
}
.social-media {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
.social-media > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: invert(100%);
  }
.social-media > img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  /* Estilos para el header  */
  header {
    height: 12vh;
  }

  h1 {
    font-size: 30px;
  }

  header > nav {
    display: none;
  }

  #menu {
    display: block;
  }

  .hotels,
  .restaurants {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 10vh;
  }

  h1 {
    font-size: 20px;
  }

  header > nav {
    display: none;
  }

  #menu {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }

  .hotels,
  .restaurants {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
}
